apiVersion: apps/v1
kind: Deployment
metadata:
    name: vaultwarden
    namespace: homelab
    labels:
        app: vaultwarden
spec:
    replicas: 1
    selector:
        matchLabels:
            app: vaultwarden
    template:
        metadata:
            labels:
                app: vaultwarden
        spec:
            nodeSelector:
                kubernetes.io/hostname: "realtong-server"
            containers:
                - name: vaultwarden
                  image: vaultwarden/server:1.35.2
                  ports:
                      - containerPort: 80
                  env:
                      - name: ADMIN_TOKEN
                        valueFrom:
                            secretKeyRef:
                                name: vaultwarden-secret
                                key: ADMIN_TOKEN
                      - name: SSO_CLIENT_ID
                        valueFrom:
                            secretKeyRef:
                                name: vaultwarden-secret
                                key: SSO_CLIENT_ID
                      - name: SSO_CLIENT_SECRET
                        valueFrom:
                            secretKeyRef:
                                name: vaultwarden-secret
                                key: SSO_CLIENT_SECRET
                  envFrom: 
                  - configMapRef:
                      name: vaultwarden-configmap
                  volumeMounts:
                      - name: vaultwarden-data
                        mountPath: /data
            volumes:
                - name: vaultwarden-data
                  persistentVolumeClaim:
                      claimName: vaultwarden-pvc
