apiVersion: apps/v1
kind: Deployment
metadata:
  name: tinyauth
  namespace: auth
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tinyauth
  template:
    metadata:
      labels:
        app: tinyauth
    spec:
      nodeSelector:
        kubernetes.io/hostname: "realtong-server"
      containers:
        - name: tinyauth
          image: ghcr.io/steveiliop56/tinyauth:v4
          ports:
            - containerPort: 3000
          env:
            - name: SECRET
              valueFrom:
                secretKeyRef:
                  name: tinyauth-secret
                  key: SECRET
            - name: PROVIDERS_GENERIC_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: tinyauth-secret
                  key: PROVIDERS_GENERIC_CLIENT_ID
            - name: PROVIDERS_GENERIC_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: tinyauth-secret
                  key: PROVIDERS_GENERIC_CLIENT_SECRET

            - name: NODE_EXTRA_CA_CERTS
              value: /etc/ssl/certs/ca-certificates.crt
            - name: SSL_CERT_FILE
              value: /etc/ssl/certs/ca-certificates.crt
            - name: REQUESTS_CA_BUNDLE
              value: /etc/ssl/certs/ca-certificates.crt
            - name: CURL_CA_BUNDLE
              value: /etc/ssl/certs/ca-certificates.crt
          envFrom: 
          - configMapRef:
              name: tinyauth-configmap
          volumeMounts:
          - name: ca-cert
            mountPath: /etc/ssl/certs/ca-certificates.crt
            readOnly: true
          livenessProbe:
            httpGet:
              path: /api/healthcheck
              port: 3000
          readinessProbe:
            httpGet:
              path: /api/healthcheck
              port: 3000
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
      volumes:
      - name: ca-cert
        hostPath: 
          path: /etc/ssl/certs/ca-certificates.crt
          type: File