apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n
  namespace: homelab
  annotations:
    glance/icon: di:n8n
    glance/name: "n8n"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: n8n
  template:
    metadata:
      labels:
        app: n8n
    spec:
      nodeSelector:
        kubernetes.io/hostname: "realtong-server"
      initContainers:
        - name: create-n8n-db
          image: postgres:16-alpine
          command: ["sh", "-c", "psql -h postgres.databases.svc.cluster.local -U $POSTGRES_USER -d $DB_POSTGRESDB_DATABASE -c 'CREATE USER $DB_POSTGRESDB_USER WITH PASSWORD $DB_POSTGRESDB_PASSWORD'"]
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: n8n-secret
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: n8n-secret
                  key: POSTGRES_PASSWORD
            - name: DB_POSTGRESDB_DATABASE
              valueFrom:
                secretKeyRef:
                  name: n8n-secret
      containers:
        - name: n8n
          image: docker.n8n.io/n8nio/n8n:latest
          ports:
            - containerPort: 5678
          env:
            - name: GENERIC_TIMEZONE
              valueFrom:
                secretKeyRef:
                  name: n8n-secret
                  key: TIMEZONE
            - name: TZ
              valueFrom:
                secretKeyRef:
                  name: n8n-secret
                  key: TIMEZONE
            - name: N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS
              value: "true"
            - name: N8N_RUNNERS_ENABLED
              value: "true"
            - name: DB_TYPE
              value: postgresdb
            - name: DB_POSTGRESDB_DATABASE
              valueFrom:
                secretKeyRef:
                  name: n8n-secret
                  key: DB_POSTGRESDB_DATABASE
            - name: DB_POSTGRESDB_HOST
              value: postgres.databases.svc.cluster.local
            - name: DB_POSTGRESDB_PORT
              value: "5432"
            - name: DB_POSTGRESDB_USER
              valueFrom:
                secretKeyRef:
                  name: n8n-secret
                  key: DB_POSTGRESDB_USER
            - name: DB_POSTGRESDB_SCHEMA
              valueFrom:
                secretKeyRef:
                  name: n8n-secret
                  key: DB_POSTGRESDB_SCHEMA
            - name: DB_POSTGRESDB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: n8n-secret
                  key: DB_POSTGRESDB_PASSWORD
          volumeMounts:
            - name: n8n-data
              mountPath: /home/node/.n8n
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 1000m
              memory: 1Gi
      volumes:
        - name: n8n-data
          persistentVolumeClaim:
            claimName: n8n-pvc

