apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: homelab
resources:  
  - external-secret.yaml
  - init-db-job.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - pvc.yaml

