apiVersion: apps/v1
kind: Deployment
metadata:
    name: kite
    namespace: observability
spec:
    replicas: 1
    selector:
        matchLabels:
            app: kite
    template:
        metadata:
            labels:
                app: kite
        spec:
            serviceAccountName: cluster-admin-sa
            nodeSelector:
                kubernetes.io/hostname: "realtong-server"
            containers:
                - image: ghcr.io/zxh326/kite:v0.7.1
                  imagePullPolicy: IfNotPresent
                  name: kite
                  livenessProbe:
                    httpGet:
                      path: /healthz
                      port: 8080
                    initialDelaySeconds: 10
                    periodSeconds: 10
                  readinessProbe:
                    httpGet:
                      path: /health
                      port: 8080
                    initialDelaySeconds: 10
                    periodSeconds: 10
                  resources:
                      limits:
                          cpu: 1000m
                          memory: 512Mi
                      requests:
                          cpu: 100m
                          memory: 128Mi
                  ports:
                      - containerPort: 8080
                        protocol: TCP
                  env:
                    - name: HOST
                      value: "https://kite.wst.sh"
                    - name: NODE_EXTRA_CA_CERTS
                      value: /etc/ssl/certs/ca-certificates.crt
                    - name: SSL_CERT_FILE
                      value: /etc/ssl/certs/ca-certificates.crt
                    - name: REQUESTS_CA_BUNDLE
                      value: /etc/ssl/certs/ca-certificates.crt
                    - name: CURL_CA_BUNDLE
                      value: /etc/ssl/certs/ca-certificates.crt
                    - name: DB_TYPE
                      value: "postgres"
                    - name: DB_DSN
                      valueFrom:
                        secretKeyRef:
                          name: kite-secret
                          key: DB_DSN
                    - name: JWT_SECRET
                      valueFrom:
                        secretKeyRef:
                          name: kite-secret
                          key: JWT_SECRET
                    - name: KITE_ENCRYPT_KEY
                      valueFrom:
                        secretKeyRef:
                          name: kite-secret
                          key: KITE_ENCRYPT_KEY
                  volumeMounts:
                    - name: ca-cert
                      mountPath: /etc/ssl/certs/ca-certificates.crt
                      readOnly: true
            volumes:
            - name: ca-cert
              hostPath: 
                path: /etc/ssl/certs/ca-certificates.crt
                type: File