apiVersion: v1
kind: Service
metadata:
    name: kite
    namespace: observability
spec:
    ports:
        - port: 8080
          protocol: TCP
          targetPort: 8080
    selector:
        app: kite
