apiVersion: apps/v1
kind: Deployment
metadata:
  name: portainer
  namespace: observability
spec:
  selector:
    matchLabels:
      app: portainer
  template:
    metadata:
      labels:
        app: portainer
    spec:
      serviceAccountName: cluster-admin-sa
      containers:
      - name: portainer
        image: portainer/portainer-ce:latest
        imagePullPolicy: Always
        env:
          - name: NODE_EXTRA_CA_CERTS
            value: /etc/ssl/certs/ca-certificates.crt
          - name: SSL_CERT_FILE
            value: /etc/ssl/certs/ca-certificates.crt
          - name: REQUESTS_CA_BUNDLE
            value: /etc/ssl/certs/ca-certificates.crt
          - name: CURL_CA_BUNDLE
            value: /etc/ssl/certs/ca-certificates.crt
        ports:
        - containerPort: 9000
          protocol: TCP
        - containerPort: 9443
          protocol: TCP
        volumeMounts:
        - name: portainer-data
          mountPath: /data
        - name: ca-cert
          mountPath: /etc/ssl/certs/ca-certificates.crt
          readOnly: true
      volumes:
      - name: portainer-data
        persistentVolumeClaim:
          claimName: portainer-pvc
      - name: ca-cert
        hostPath: 
          path: /etc/ssl/certs/ca-certificates.crt
          type: File