apiVersion: apps/v1
kind: Deployment
metadata:
  name: glance
  namespace: homelab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: glance
  template:
    metadata:
      labels:
        app: glance
    spec:
      containers:
        - name: glance
          image: glanceapp/glance:latest
          ports:
            - containerPort: 8080
          env:
            - name: NODE_EXTRA_CA_CERTS
              value: /etc/ssl/certs/ca-certificates.crt
            - name: SSL_CERT_FILE
              value: /etc/ssl/certs/ca-certificates.crt
            - name: REQUESTS_CA_BUNDLE
              value: /etc/ssl/certs/ca-certificates.crt
            - name: CURL_CA_BUNDLE
              value: /etc/ssl/certs/ca-certificates.crt
          envFrom:
            - secretRef:
                name: glance-secret
          volumeMounts:
            - name: glance-config
              mountPath: /app/config/glance.yml
              subPath: glance.yml
              readOnly: true
            - name: ca-cert
              mountPath: /etc/ssl/certs/ca-certificates.crt
              readOnly: true
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 100m
              memory: 128Mi
      volumes:
        - name: glance-config
          configMap:
            name: glance-configmap
        - name: ca-cert
          hostPath: 
            path: /etc/ssl/certs/ca-certificates.crt
            type: File