apiVersion: v1
kind: ConfigMap
metadata:
    name: prometheus-configmap
    namespace: observability
data:
    prometheus.yml: |
        global:
            scrape_interval: 15s
            scrape_timeout: 10s
            evaluation_interval: 15s
        scrape_configs:
            - job_name: "prometheus-kube-state-metrics"
              static_configs:
                - targets: ["kube-state-metrics.observability.svc.cluster.local:8080"]